slickedit/20.0.1/logs/
slickedit/20.0.1/tagfiles/
slickedit/20.0.1/vrestore.slk
slickedit/20.0.1/vsdelta/
slickedit/20.0.1/diffmap.ini
slickedit/20.0.1/diffsession.xml
slickedit/20.0.1/DateTimeFilters.xml
slickedit/20.0.1/perfile.xml
slickedit/20.0.1/vslick.stu
slickedit/20.0.1/vunxdata.e
slickedit/20.0.1/vunxdefs.e
vim/bundle/
vim/.netrwhist
vim/.ycm_extra_conf.pyc
